<section>
<mat-drawer-container class="mat-sidenav-container" autosize>
    <mat-drawer #drawer mode="side">
        <app-side-nav-apps
          *ngFor = "let application of applicationList"
          [application]= "application">
        </app-side-nav-apps>
      <a><mat-icon>home</mat-icon>Home</a>
    </mat-drawer>
    <div>  
      <button type="button" class="mat-side-nav-icon" (click)="drawer.toggle()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </mat-drawer-container>
</section>