<section>
  <mat-toolbar class="toolbar">
    <button class="mat-side-nav-icon" (click)="drawer.toggle()">
        <span>
          <mat-icon>menue</mat-icon>
        </span>
    </button>
    <div style="padding-left: 2%; padding-top: 0.5% ;" class="spacer" >
      <a [routerLink]="['/']" class="toolbar-text"> API Runner </a>
      <span class="toolbar-text" style="font-size: medium;">
        <a class="menu-items" href="./">Home</a>
        <a class="menu-items">Playground</a>
        <a class="menu-items">About</a>
        <a class="menu-items" 
        href="https://github.com/anirudhmnair/rAPI">
          <img src="../../assets/github-mark-white.svg" alt="github-mark-white" style="object-fit: cover; width: 7%;">
        </a>
      </span>
    </div>
  </mat-toolbar>
  <mat-drawer-container class="mat-sidenav-container">
    <mat-drawer #drawer mode="side" opened="false" class="nav-items">
        <div class="search">Home</div>
          <form class="input_search">
            <input type="text" placeholder=" Search">
          </form>
        
        <div>
          <div class="list-container">Web Applications</div>
          <div>
            <app-side-nav-apps
              *ngFor = "let application of applicationList"
              [application]= "application">
            </app-side-nav-apps>
          </div>
        </div>
        <div>
          <div class="list-container">API</div>
          <a *ngFor = "let api of applicationApiList" 
          [routerLink]="['/app',api.name,api.apiName]" 
          class="api-block">
            <button
            (click)= "showFiller = !showFiller"
            mat-flat-button class="api-button">
              <div class="api-block">
                {{api.apiName}}
              </div>
            </button> 
          </a>
        </div>
    </mat-drawer>
    <div>  
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</section>