.navigation-image {
    height: 13%;
    width: 13%;
    margin-right: 5%;
  }

.app-button{
  text-align: left;
  height: 7vh;
  display: block;
  box-sizing: border-box;
  width: 100%;
}


.app-name{
  text-decoration: none;
  font-size:medium;
  color: rgb(90, 90, 90);
}
